# Homework

Then do the following:

Extract the second element of the list.

Extract the first to third (inclusive) element of the list.

Extract only the last element of the list.

In [4]:
a = ['spam', 'ham', 'eggs', 'ham']

In [5]:
type(a)

list

In [7]:
a[1]

'ham'

In [9]:
a[:3]

['spam', 'ham', 'eggs']

In [10]:
a[-1]

'ham'

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

Append Edinburgh Waverley to the end of the list
Add "Queen Street" to the start of the list
Find out what index "Croy" is at in the list
Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
Remove "Haymarket" from the list of stops
Remove all items from stops
Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [21]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [22]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [23]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [24]:
stops.index("Croy")

1

In [25]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [26]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [27]:
stops.clear()
stops

[]

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

Return the keys, values and items from this dictionary

Take out only the name from it

Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

Delete the job description from the dictionary (Hint: look up the del function)

In [28]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [29]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [30]:
person.values()

dict_values(['Steph', 31, True])

In [31]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

Print out a list of the even integers:

Print the difference between the largest and smallest value:

Print True if the list contains a 2 next to a 2 somewhere.

Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [32]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [33]:
list1 = []
for i in numbers:
    if i % 2 == 0:
        list1.append(i)
print(list1)

[6, 2, 2, 6]

In [36]:
max_no = None
min_no = None

for i in numbers:
    if  max_no == None or max_no < i :
        max_no = i
    if  min_no == None or min_no > i:
        min_no = i
        
print(max_no - min_no)

98

In [39]:
j = 0
for i in numbers:
    if i == 2 and j == 2:
        print(True)
        break
    else:
        j = i

True

In [42]:
j = 0
k = 0
for i in numbers:
    if i == 6:
        k = 1
    elif i == 7:
        k = 0
    elif k == 0:
        j = i + j
print(j)

2

Write a conditional that takes in two inputs :

python_is_fun = True
python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [45]:
input_1 = input("Python is fun True or False?: ")
input_2 = input("Python is weird True or False?: ")

if input_1 == "True" or input_2 == "True":
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is fun True or False?: True
Python is weird True or False?: False
Woo Python!

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [48]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [47]:
total_eggs = 0

for i in chickens:
    total_eggs += i["eggs"]
    i["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

In [49]:
def egg_collector(chicken_list):
    total_eggs = 0

    for i in chickens:
        total_eggs += i["eggs"]
        i["eggs"] = 0 # eggs have been collected

    return(f"{total_eggs} eggs collected")

In [50]:
egg_collector(chickens)

'4 eggs collected'

Set up the following collection:

united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

Change the capital of Wales from "Swansea" to "Cardiff".

Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).

Use a loop to print the names of all the countries in the UK.

Use a loop to find the total population of the UK.

In [51]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [61]:
united_kingdom[1].update({"capital":"Cardiff"})

united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [62]:
northern_ireland = {
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
  }

In [63]:
united_kingdom.append(northern_ireland)

In [67]:
united_kingdom[0]["capital"]

'Edinburgh'

In [68]:
j = 0
for i in united_kingdom:
    print(united_kingdom[j]["capital"])
    j = j +1

Edinburgh
Cardiff
London
Belfast

In [70]:
j = 0
pop = 0
for i in united_kingdom:
    pop = pop + united_kingdom[j]["population"]
    j = j +1
print(pop)

63179000

In [71]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

Set up the following:


Get Jonathan's Twitter handle (i.e. the string "jonnyt")
Get Erik's hometown
Get the array of Erik's lottery numbers
Get the species of Avril's pet Monty
Get the smallest of Erik's lottery numbers
Return an array of Avril's lottery numbers that are even
Erik is one lottery number short! Add the number 7 to be included in his lottery numbers
Change Erik's hometown to Edinburgh
Add a pet dog to Erik called "Fluffy"
Add another person to the users dictionary

In [72]:
users["Jonathan"]["twitter"]

'jonnyt'

In [74]:
users["Erik"]["home_town"]

'Linlithgow'

In [75]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [81]:
users["Avril"]["pets"][0]["species"]

'snake'

In [ ]:
import numpy as np

In [92]:
avril_lot = users["Avril"]["lottery_numbers"]


array = np.array([])

for i in avril_lot:
    if i % 2 == 0:
        array = np.append(array, ([i]))
print(array)     

list1 = []
for i in avril_lot:
    if i % 2 == 0:
        list1.append(i)
print(list1)

[12. 14. 38.]
[12, 14, 38]

In [87]:
users["Erik"]["lottery_numbers"].append(7)

In [88]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24, 7]

In [95]:
users["Erik"].update({"home_town":"Edinburgh"})

users["Erik"]

{'twitter': 'eriksf',
 'lottery_numbers': [18, 34, 8, 11, 24, 7],
 'home_town': 'Edinburgh',
 'pets': [{'name': 'nemo', 'species': 'fish'},
  {'name': 'kevin', 'species': 'fish'},
  {'name': 'spike', 'species': 'dog'},
  {'name': 'rupert', 'species': 'parrot'}]}

In [96]:
users["Erik"]["pets"].append({'name': 'fluffy', 'species': 'dog'})
users["Erik"]

{'twitter': 'eriksf',
 'lottery_numbers': [18, 34, 8, 11, 24, 7],
 'home_town': 'Edinburgh',
 'pets': [{'name': 'nemo', 'species': 'fish'},
  {'name': 'kevin', 'species': 'fish'},
  {'name': 'spike', 'species': 'dog'},
  {'name': 'rupert', 'species': 'parrot'},
  {'name': 'fluffy', 'species': 'dog'}]}

In [101]:
jamie = {"jamie" :{
    "twitter": "na",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Langholm",
    "pets": [
      {
        "name": "nigel",
        "species": "cat"
      }
    ]
  }
        }

In [99]:
users.update(jamie)

In [100]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'twitter': 'na',
 'lottery_numbers': [12, 14, 33, 38, 9, 25],
 'home_town': 'Langholm',
 'pets': [{'name': 'nigel', 'species': 'cat'}]}